body{
    margin: 0;
    background-color: lightslategray;
    
}

.header{
    width: 100%;
    height: 25vh;
    background-color:darkslategrey
}

.content {
    margin: auto;
    width: 75%;
    height: 600px;
    background-color:white;
}


.footer{
    width: 75%;
    height: 150px;
    margin: auto;
    background-color: black
    
}